            /*
Table Of Contents


===============================================*/
            /*==========================
import
==========================*/
            
            @import "../partials/variable";
            @import "../partials/typography";
            @import "../partials/mixin";
            @import "../partials/animation";
            .section {
                padding: 60px 0;
            }
                
            
            .popup-icon {
                position: fixed;
                top: 50%;
                right: 0;
                z-index: 10001;
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                color: $color-white;
                border-radius: 30px 0 0 30px;
                background-color: $color-secondary;
                display: none;
                cursor: pointer;
            }
            @media screen and (max-width:$mobile-middle){
                        .popup-icon{
                            display: none !important;
                        }
                    }
            
            .load-popup {
                display: none;
                position: fixed;
                z-index: 10001;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                overflow: auto;
                background-color: rgba(0, 0, 0, 0.6);
                .popup-body {
                    height: auto;
                    width: 80%;
                    max-width: 600px;
                    margin: 5% auto;
                    display: block;
                    border-radius: 8px;
                    -moz-box-shadow: 0 0 5px $color-primary;
                    -webkit-box-shadow: 0 0 5px $color-primary;
                    box-shadow: 0 0 5px $color-primary;
                    padding: 20px;
                    background-color: $color-white;
                    position: relative;
                    .content {
                        text-align: center;
                    }
                    .close-icon {
                        position: absolute;
                        right: -20px;
                        top: -20px;
                        width: 40px;
                        height: 40px;
                        text-align: center;
                        line-height: 40px;
                        color: $color-white;
                        background-color: $color-secondary;
                        @include radius50;
                        z-index: 10002;
                        cursor: pointer;
                    }
                    
                }
            }
            
            .owl-carousel {
                .owl-nav {
                    position: absolute;
                    @include translatey;
                    width: 100%;
                    button {
                        position: absolute;
                        &.owl-prev {
                            left: 5%;
                            @include nextprev;
                        }
                        &.owl-next {
                            right: 5%;
                            @include nextprev;
                        }
                        &:focus {
                            -webkit-outline: none;
                            outline: none;
                        }
                    }
                    @media screen and (max-width: $mobile-large) {
                        button {
                            i {
                                font-size: 0.775em;
                            }
                            &.owl-prev {
                                width: 30px;
                                height: 30px;
                                line-height: 28px;
                            }
                            &.owl-next {
                                width: 30px;
                                height: 30px;
                                line-height: 28px;
                            }
                        }
                    }
                }
                &.team-slider,
                &.major-slider,
                &.pub-slider {
                    .owl-nav {
                        button {
                            i {
                                font-size: 0.775em;
                            }
                            &.owl-prev {
                                width: 30px;
                                height: 30px;
                                line-height: 28px;
                                border-color: $color-title;
                                color: $color-secondary;
                                &:hover{
                                    color:$color-white;
                                }
                            }
                            &.owl-next {
                                width: 30px;
                                height: 30px;
                                line-height: 28px;
                                border-color: $color-title;
                                color: $color-secondary;
                                &:hover{
                                    color:$color-white;
                                }
                            }
                        }
                    }
                }
            }
            
            .title {
                color: $color-title;
                margin-bottom: 30px;
                position: relative;
                min-height: 20px;
                a {
                    @include translatey;
                    right: 15px;
                    border-bottom: 2px solid $color-secondary;
                    i {
                        margin-left: 5px;
                    }
                }
                h3 {
                    position: relative;
                    padding-bottom: 2px;
                    font-weight: 700;
                    color: $color-title;
                    font-size: 1.5em;
                    &:after {
                        content: '';
                        position: absolute;
                        width: 70px;
                        height: 2px;
                        background-color: $color-secondary;
                        left: 0;
                        bottom: 0;
                    }
                }
                select.custom-select {
                    @include translatey;
                    right: 15px;
                    border-bottom: 2px solid $color-secondary;
                    max-width: 100px;
                    outline: none;
                    &:focus {
                        -webkit-outline: none;
                        outline: none;
                    }
                }
            }
            
            .read-btn {
                a {
                    padding: 5px 15px;
                    background-color: $color-title;
                    color: $color-white;
                    @include radius5;
                    @include animate;
                    &:hover {
                        background-color: $color-secondary;
                        color: $color-white;
                    }
                }
            }
            
            .site-header {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                z-index: 999;
                &.affix {
                    position: fixed;
                    z-index: 99999;
                    width: 100%;
                    border-radius: 0;
                    top: 0;
                    left: 0;
                    background: $color-white;
                    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.38);
                    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.38);
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.38);
                    -webkit-transition: all 1s ease;
                    -moz-transition: all 1s ease;
                    transition: all 1s ease;
                }
                .master-head {
                    @include clear;
                    padding: 15px;
                    @include radius5;
                    background-color: rgba(255, 255, 255, 0.8);
                    .page-toggle-button {
                        float: right;
                        width: 34px;
                        height: 34px;
                        background: $color-secondary;
                        border-radius: 50%;
                        display: none;
                        overflow: hidden;
                        .hamburger-box {
                            @include harmburger;
                            width: 34px;
                            height: 34px;
                            .harmburger-inner {
                                @include menutoggle;
                            }
                            &.open {
                                .harmburger-inner {
                                    @include menucross;
                                }
                            }
                        }
                    }
                    .menu-wrap {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        a.logo-link {
                            max-width: 270px;
                            float: left;
                        }
                        .menu {
                            text-align: right;
                            .close-toggle {
                                display: none;
                                position: absolute;
                                top: 15px;
                                right: 15px;
                                color: $color-white;
                                cursor: pointer;
                            }
                            ul {
                                text-align: right;
                                li {
                                    display: inline-block;
                                    a {
                                        display: block;
                                        padding: 0.8rem;
                                        position: relative;
                                        font-size: 1em;
                                        font-weight: normal;
                                        transition: all 0.5s ease-in-out;
                                        -webkit-transition: all 0.5s ease-in-out;
                                        -ms-transition: all 0.5s ease-in-out;
                                        -moz-transition: all 0.5s ease-in-out;
                                        &:hover {
                                            color: $color-secondary;
                                        }
                                        &:before {
                                            content: "";
                                            position: absolute;
                                            width: 100%;
                                            height: 1px;
                                            bottom: 0;
                                            left: 0;
                                            right: 0;
                                            margin: 0 auto;
                                            background-color: $color-secondary;
                                            visibility: hidden;
                                            -webkit-transform: scaleX(0);
                                            transform: scaleX(0);
                                            -webkit-transition: all 0.3s ease-in-out 0s;
                                            transition: all 0.3s ease-in-out 0s;
                                        }
                                        &:hover {
                                            &:before {
                                                visibility: visible;
                                                -webkit-transform: scaleX(1);
                                                transform: scaleX(1);
                                            }
                                        }
                                    }
                                    &.menu-item-has-children {
                                        position: relative;
                                        ul {
                                            position: absolute;
                                            left: auto;
                                            right: 0;
                                            top: 130%;
                                            min-width: 200px;
                                            padding: 0 15px;
                                            @include boxshadow;
                                            opacity: 0;
                                            visibility: hidden;
                                            transform: translateY(0);
                                            border: none;
                                            background-color: $color-white;
                                            z-index: 99;
                                            display: inherit;
                                            @include radius5;
                                            text-align: left;
                                            li {
                                                display: block;
                                                a {
                                                    border-right: none;
                                                    padding: 5px 0;
                                                    display: block;
                                                    border-bottom: 1px solid $color-bg;
                                                    font-size: 0.875em;
                                                }
                                                &::after {
                                                    display: none;
                                                }
                                                &:last-child a {
                                                    border-bottom: none;
                                                }
                                            }
                                        }
                                        &::after {
                                            content: "\f107";
                                            font-family: "FontAwesome";
                                            position: absolute;
                                            right: 0;
                                            top: 10px;
                                        }
                                        span.fa-angle-down {
                                            display: none;
                                        }
                                        &:hover {
                                            ul {
                                                opacity: 1;
                                                visibility: visible;
                                                transform: translateY(1);
                                                @include animate;
                                                top: 100%;
                                            }
                                        }
                                    }
                                    &.menu-item-has-current {
                                        a {
                                            &:before {
                                                visibility: visible;
                                                transform: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                /*  @media screen and (max-width:1150px) {
    .master-head {
        .menu {
            text-align: center;
            ul {
                text-align: center;
            }
        }
    }
} */
                @media screen and (max-width: $tab-land) {
                    .master-head {
                        .page-toggle-button {
                            display: block;
                            z-index: 1000;
                        }
                        .menu-wrap {
                            a.logo-link {
                                max-width: 230px;
                            }
                        }
                        .menu {
                            @include mobilenav;
                            .close-toggle {
                                display: block !important;
                                font-size: 1.5em;
                            }
                            ul.primary-menu {
                                @include translatey;
                                max-width: 400px;
                                width: 90%;
                                margin: 0 auto;
                                left: 0;
                                right: 0;
                                display: initial;
                                text-align: center;
                                max-height: 480px;
                                overflow-y: auto;
                                li {
                                    width: 100%;
                                    a {
                                        border-right: none;
                                        color: $color-white;
                                    }
                                    &:last-child {
                                        a {
                                            border-bottom: none;
                                        }
                                    }
                                    &.menu-item-has-children {
                                        ul {
                                            position: inherit;
                                            transform: none;
                                            width: 100%;
                                            display: none;
                                            visibility: visible;
                                            opacity: 1;
                                            @include animate;
                                            background-color: $color-white;
                                            text-align: center;
                                            li {
                                                a {
                                                    border: none;
                                                    color: $color-primary;
                                                }
                                            }
                                        }
                                        &:after {
                                            display: none;
                                        }
                                        span.fa-angle-down {
                                            position: absolute;
                                            top: 0;
                                            right: 0;
                                            z-index: 99;
                                            display: block;
                                            width: 30px;
                                            color: $color-white;
                                            height: 30px;
                                            line-height: 28px;
                                            text-align: center;
                                            border: 1px solid $color-white;
                                            @include radius5;
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                @media screen and (max-width: $tab-land) {
                    .master-head {}
                }
            }
            
            .hero-banner {
                position: relative;
                top: 0;
                right: 0;
                left: 0;
                background-color: $color-primary;
                .hero-item {
                    min-height: 570px;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-color: $color-primary;
                    .slider-caption {
                        position: absolute;
                        bottom: 50px;
                        left: 0;
                        right: 0;
                        color: $color-white;
                        max-width: 600px;
                        background: rgba(0, 0, 0, 0.5);
                        padding: 20px;
                        width: 90%;
                        margin: 0 auto;
                        text-align: center;
                        h4 {
                            color: $color-white;
                            font-weight: 700;
                            font-size: 1.5em;
                            line-height: 1.7;
                            letter-spacing: 0.5px;
                            opacity: 0;
                            -webkit-transition: all 1000ms ease;
                            -moz-transition: all 100ms ease;
                            -ms-transition: all 1000ms ease;
                            -o-transition: all 1000ms ease;
                            transition: all 1000ms ease;
                            -webkit-transform: translateY(50px);
                            -moz-transform: translateY(50px);
                            -ms-transform: translateY(50px);
                            -o-transform: translateY(50px);
                            transform: translateY(50px);
                        }
                    }
                }
                .owl-item.active .hero-item .slider-caption {
                    h4 {
                        opacity: 1;
                        -webkit-transform: translateY(0);
                        -moz-transform: translateY(0);
                        -ms-transform: translateY(0);
                        -o-transform: translateY(0);
                        transform: translateY(0);
                        transition-delay: 1300ms;
                    }
                }
                @media screen and (max-width: 1280px) {
                    .hero-item {
                        min-height: 470px;
                    }
                }
                @media screen and (max-width: $tab-port) {
                    .hero-item {
                        min-height: 370px;
                    }
                }
                @media screen and (max-width: $mobile-large) {
                    .hero-item {
                        min-height: 300px;
                        .slider-caption {
                            max-width: 460px;
                            h4 {
                                font-size: 1.2em;
                            }
                        }
                    }
                }
            }
            
            .banner-bottom {
                margin-top: -50px;
                position: relative;
                z-index: 99;
                .bottom-wrap {
                    @include flexjust;
                    align-content: flex-start;
                    @include radius5;
                    padding: 30px 15px;
                    background-color: $color-bg;
                    .btm-item {
                        -ms-flex: 0 0 16.6666667%;
                        flex: 0 0 16.6666667%;
                        max-width: 16.6666667%;
                        a {
                            position: relative;
                            font-size: 0.875em;
                            margin-right: 10px;
                            display: block;
                            background-color: $color-white;
                            padding: 15px;
                            padding-left: 45px;
                            font-weight: 600;
                            @include radius5;
                            @include animate;
                            span {
                                @include translatey;
                                left: 15px;
                            }
                            &:hover {
                                background-color: $color-primary;
                                color: $color-white;
                            }
                        }
                    }
                }
            }
            
            .about-section {
                background-color: $color-white;
                .introduct {
                    .content {
                        .text {
                            margin-bottom: 30px;
                            text-align: justify;
                        }
                    }
                }
                .chart{
                    .content{
                        position: relative;
                        width:100%;
                        height: 300px;
                        #myChart{
                            height:270px !important;
                            width:100% !important;
                        }
                    }
                }
            }
            
            @media screen and (max-width: $tab-between) {
                .about-section {
                    .introduct {
                        margin-bottom: 50px;
                    }
                }
                .banner-bottom {
                    .bottom-wrap {
                        .btm-item {
                            -ms-flex: 0 0 33.333333%;
                            flex: 0 0 33.333333%;
                            max-width: 33.333333%;
                            a {
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
            
            @media screen and (max-width: $mobile-large) {
                .banner-bottom {
                    .bottom-wrap {
                        .btm-item {
                            -ms-flex: 0 0 50%;
                            flex: 0 0 50%;
                            max-width: 50%;
                        }
                    }
                }
            }
            
            .tab-section {
                .tab,
                .team {
                    background-color: $color-white;
                    padding: 15px;
                    @include radius5;
                }
                .tab {
                    .tab-nav {
                        ul {
                            @include flexjust;
                            li {
                                border: 1px solid $color-bg;
                                -ms-flex: 0 0 33.33333%;
                                flex: 0 0 33.33333%;
                                max-width: 33.33333%;
                                text-align: center;
                                padding: 10px 5px;
                                cursor: pointer;
                                font-weight: 500;
                                &.current {
                                    border-top: 2px solid $color-secondary;
                                }
                                &:hover {
                                    color: $color-title;
                                }
                            }
                        }
                    }
                    .tab-pane {
                        .tab-content {
                            display: none;
                            padding-top: 15px;
                            ul {
                                max-height: 238px;
                                overflow-y: scroll;
                                li {
                                    border-bottom: 1px solid $color-bg;
                                    padding: 5px;
                                    span {
                                        display: block;
                                        color: #555555;
                                        font-size: 0.875em;
                                    }
                                    a {
                                        display: block;
                                    }
                                }
                                .read-btn {
                                    margin-top: 10px;
                                    text-align: right;
                                    a {
                                        padding: 5px 10px;
                                        min-width: 100px;
                                    }
                                }
                            }
                            &.current {
                                display: block;
                            }
                        }
                    }
                }
                .team-slider {
                    .owl-item {
                        padding: 5px;
                    }
                    .team-item {
                        @include boxshadow;
                        padding: 30px;
                        text-align: center;
                        .team-img {
                            max-width: 120px;
                            @include radius50;
                            margin: 0 auto;
                            img {
                                width: 120px;
                                height: 120px;
                                @include radius50;
                            }
                        }
                        .content {
                            margin-top: 15px;
                            h4 {
                                font-size: 1em;
                                font-weight: 600;
                            }
                            span {
                                font-size: 0.875em;
                                color: #555555;
                            }
                        }
                    }
                }
            }
            
            .major-section {
                background-color: $color-white;

                .tab {
                    .tab-nav {
                        position: relative;
                        a.title-all{
                            position: relative;
                            @include translatey;
                            top:37%;
                            right: 15px;
                            border-bottom: 2px solid $color-secondary;
                            i {
                                margin-left: 5px;
                            }
                        }
                        ul {
                            li {
                                border: 1px solid $color-bg;
                                text-align: center;
                                padding: 10px 15px;
                                cursor: pointer;
                                font-weight: 500;
                                display: inline-block;

                                &.current {
                                    border-top: 2px solid $color-secondary;
                                }

                                &:hover {
                                    color: $color-title;
                                }
                            }
                        }
                    }

                    .tab-pane {
                        .report-content {
                            display: none;
                            padding-top: 15px;

                            &.current {
                                display: block;
                            }
                        }
                    }
                }
                .major-slider,.pub-slider {
                    .owl-item {
                        padding: 5px;
                    }
                    .major-item {
                        @include boxshadow;
                        padding: 10px;
                        text-align: center;
                        min-height: 350px;
                        max-height: 350px;
                        .major-img{
                            position:relative;
                            .major-caption{
                                position:absolute;
                                padding:10px;
                                color:$color-white;
                                background-color:rgba(0, 0, 0, 0.7);
                                width:100%;
                                bottom:0;
                                left:0;
                                right:0;
                                font-size:0.875em;
                            }
                        }
                    }
                }
                .video {
                    .content {
                        max-height: 350px;
                        overflow-y: scroll;
                        .video-list {
                            padding: 10px 0;
                            border-bottom: 1px solid $color-bg;
                            @include clear;
                            .video-thumb {
                                max-width: 100px;
                                display: inline-block;
                            }
                            .video-text {
                                width: calc(100% - 115px);
                                float: right;
                                h4 {
                                    font-size: 1em;
                                    font-weight: 500;
                                }
                                span {
                                    font-size: 0.875em;
                                    color: #555555;
                                }
                            }
                            &:last-child {
                                border-bottom: none;
                                padding-bottom: none;
                            }
                        }
                        .read-btn {
                            margin-top: 10px;
                            text-align: right;
                            a {
                                padding: 5px 10px;
                                min-width: 100px;
                            }
                        }
                    }
                }
                @media screen and (max-width: $tab-between) {
                    .video {
                        margin-top: 50px;
                    }
                }
            }
            
            .pb-breadcrumb {
                position: relative;
                top: 0;
                right: 0;
                left: 0;
                @include coverbg;
                position: relative;
                min-height: 300px;
                .overlay {
                    @include overlay;
                    background-color: rgba(0, 0, 0, 0.7);
                }
                .breadcrumb-wrap {
                    display: flex;
                    display: -webkit-box;
                    display: -webkit-flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    position: relative;
                    min-height: 300px;
                    h2 {
                        font-size: 1.5em;
                        text-transform: uppercase;
                        color: $color-white;
                    }
                    ul {
                        li {
                            display: inline-block;
                            color: $color-white;
                            &::after {
                                content: "\f105";
                                font-family: "FontAwesome";
                                transition: all 0.3s ease-in-out;
                                -webkit-transition: all 0.3s ease-in-out;
                                -moz-transition: all 0.3s ease-in-out;
                                margin: 0 10px;
                                display: inline-block;
                            }
                            &:last-child::after {
                                display: none;
                            }
                        }
                    }
                }
                &::after {
                    @include overlay;
                }
            }
            
            @media screen and (max-width: 1600px) {
                .pb-breadcrumb {
                    min-height: 200px;
                    .breadcrumb-wrap {
                        min-height: 120px;
                        margin-top: 80px;
                        h2 {
                            font-size: 1.2em;
                        }
                    }
                }
            }
            
            @media screen and (max-width: $tab-land) {
                .pb-breadcrumb {
                    min-height: 170px;
                    .breadcrumb-wrap {
                        min-height: 90px;
                        margin-top: 80px;
                        h2 {
                            font-size: 1em;
                        }
                    }
                }
            }
            
            @media screen and (max-width: $tab) {
                .pb-breadcrumb {
                    min-height: 170px;
                    .breadcrumb-wrap {
                        min-height: 90px;
                        margin-top: 80px;
                        h2 {
                            font-size: 1em;
                        }
                    }
                }
            }
            
            .inner-page {
                .side-menu {
                    .nav-tabs {
                        border: none;
                        li.nav-item {
                            display: block;
                            border: 0;
                            margin: 0;
                            width: 100%;
                            margin-bottom: 10px;
                            background-color: $color-white;
                            a.nav-link {
                                display: block;
                                border: none;
                                padding: 20px 15px;
                                outline: none;
                                border-radius: 0;
                                position: relative;
                                &:hover,
                                &:focus,
                                &.active {
                                    border: none;
                                    margin: 0;
                                    -webkit-outline: none;
                                    outline: none;
                                }
                                &.active {
                                    background-color: $color-title;
                                    color: $color-white;
                                    &::after {
                                        content: '';
                                        border-color: transparent $color-title;
                                        border-style: solid;
                                        border-width: 12px 0px 12px 16px;
                                        height: 0px;
                                        width: 0px;
                                        @include translatey;
                                        right: -16px;
                                        display: inline-block;
                                    }
                                }
                            }
                            &:last-child {
                                margin-bottom: 0;
                            }
                            &:focus,
                            &:hover {
                                border: none;
                            }
                        }
                    }
                    &.profile-menu {
                        background-color: $color-white;
                        background-clip: border-box;
                        border: 1px solid rgba(0, 0, 0, 0.125);
                        border-radius: .25rem;
                        text-align: center;
                        padding: 30px 15px;
                        .fepb-profile {
                            .pf-thumb {
                                max-width: 200px;
                                @include radius50;
                                margin: 0 auto;
                                overflow: hidden;
                            }
                            .content {
                                margin-top: 15px;
                                h4 {
                                    font-size: 1em;
                                    font-weight: 600;
                                }
                                span {
                                    font-size: 0.875em;
                                    color: #555555;
                                }
                            }
                        }
                    }
                }
                @media screen and (max-width: $tab-port) {
                    .side-menu {
                        margin-bottom: 30px;
                        .nav-tabs {
                            li.nav-item {
                                a.nav-link {
                                    &.active {
                                        &::after {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .menu-content {
                    .card {
                        .card-body {
                            .card-header {
                                background-color: $color-white;
                                margin-bottom: 25px;
                                padding: 0;
                                padding-bottom: 10px;
                                h4 {
                                    font-size: 1.2em;
                                    font-weight: 600;
                                }
                            }
                            .videoWrapper {
                                padding: 0;
                                .boxes {
                                    .box {
                                        display: flex;
                                        justify-content: start;
                                        padding: 10px 0;
                                        border-bottom: 1px solid #f7f7f7;
                                        .video {
                                            max-width: 100%;
                                            iframe {
                                                width: 220px;
                                                height: 150px;
                                            }
                                        }
                                        .content {
                                            padding-left: 30px;
                                            h3 {
                                                font-size: 1.2em;
                                                font-weight: 500;
                                            }
                                            p {
                                                font-size: 0.875em;
                                                color: #555555;
                                            }
                                            .text {
                                                margin-top: 12px;
                                            }
                                        }
                                        &.last-child {
                                            border-bottom: 0;
                                            padding-bottom: 0;
                                        }
                                    }
                                }
                                @media screen and(max-width:$mobile-middle) {
                                    .boxes {
                                        .box {
                                            display: block;
                                            .video {
                                                max-width: 220px;
                                                iframe {
                                                    width: 240px;
                                                    height: 170px;
                                                }
                                            }
                                            .content {
                                                padding-left: 0;
                                                padding-top: 15px;
                                                h3 {
                                                    font-size: 1.2em;
                                                    font-weight: 500;
                                                }
                                                p {
                                                    font-size: 0.875em;
                                                    color: #555555;
                                                }
                                                .text {
                                                    margin-top: 12px;
                                                }
                                            }
                                            &.last-child {
                                                border-bottom: 0;
                                                padding-bottom: 0;
                                            }
                                        }
                                    }
                                }
                            }
                            .content-list {
                                p.intro {
                                    margin-bottom: 20px;
                                }
                                h5 {
                                    margin-bottom: 15px;
                                    font-size: 1.2em;
                                    font-family: $font-family-normal;
                                }
                                .pagination {
                                    margin-top: 30px;
                                    @include flexjust;
                                    justify-content: center;
                                    align-items: center;
                                    a {
                                        display: inline-block;
                                        width: 36px;
                                        height: 36px;
                                        border: 1px solid $color-bg;
                                        text-align: center;
                                        line-height: 36px;
                                        margin-right: 7px;
                                        @include radius50;
                                        @include animate;
                                        &.active,
                                        &:hover {
                                            background-color: $color-title;
                                            color: $color-white;
                                        }
                                        &:last-child {
                                            margin-right: 0;
                                        }
                                    }
                                }
                                .detail-content {
                                    .text {
                                        text-align: justify;
                                        p {
                                            margin-bottom: 15px;
                                        }
                                        img {
                                            max-width: 500px;
                                            width: 100%;
                                            float: left;
                                            vertical-align: middle;
                                            margin: 0 15px 15px 0;
                                        }
                                    }
                                }
                                ul {
                                    li {
                                        position: relative;
                                        padding: 15px 0;
                                        padding-left: 40px;
                                        border-bottom: 1px solid $color-bg;
                                        display: block;
                                        i {
                                            position: absolute;
                                            top: 15px;
                                            left: 0;
                                            font-size: 1.2em;
                                            font-weight: 600;
                                            color: $color-title;
                                            width: 30px;
                                            height: 30px;
                                            line-height: 30px;
                                            @include radius50;
                                            text-align: center;
                                            border: 1px solid $color-bg;
                                        }
                                        &:first-child {
                                            padding-top: 0;
                                            i {
                                                top: 0;
                                            }
                                        }
                                        &:last-child {
                                            padding-bottom: 0;
                                            border-bottom: none;
                                        }
                                    }
                                }
                                .news-content {
                                    .news-list {
                                        padding: 10px 0;
                                        border-bottom: 1px solid $color-bg;
                                        @include clear;
                                        .news-thumb {
                                            max-width: 100px;
                                            display: inline-block;
                                        }
                                        .news-text {
                                            width: calc(100% - 115px);
                                            float: right;
                                            h4 {
                                                font-size: 1.2em;
                                                font-weight: 500;
                                            }
                                            span {
                                                font-size: 0.875em;
                                                color: #555555;
                                            }
                                        }
                                        &:last-child {
                                            border-bottom: none;
                                            padding-bottom: none;
                                        }
                                    }
                                    .read-btn {
                                        margin-top: 10px;
                                        text-align: right;
                                        a {
                                            padding: 5px 10px;
                                            min-width: 100px;
                                        }
                                    }
                                }
                                @media screen and (max-width: $mobile-large) {
                                    .news-content {
                                        .news-list {
                                            .news-thumb {
                                                max-width: 100%;
                                                display: inline-block;
                                            }
                                            .news-text {
                                                width: 100%;
                                                float: none;
                                                padding-top: 10px;
                                                h4 {
                                                    font-size: 1em;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .tab-content {
                                .custom-accordion {
                                        ul {
                                            li {
                                                width: 100%;
                                                clear: both;
                                                border-left: 2px solid $color-secondary;
                                                @include boxshadow;
                                                padding: 15px;
                                                margin-bottom: 25px;
                                                .acc-title {
                                                    position: relative;
                                                    padding: 15px 0;
                                                    h4 {
                                                        font-size: 1em;
                                                        font-weight: 600;
                                                        padding-right: 15px;
                                                    }
                                                    i {
                                                        @include translatey;
                                                        right: 0;
                                                        font-weight: 600;
                                                        font-size: 1.5em;
                                                        cursor: pointer;
                                                    }
                                                    .atitle-content{
                                                        padding-right: 15px;
                                                        p{
                                                            font-size:1em;
                                                            margin-top:10px;
                                                        }
                                                    }
                                                }
                                                .acc-content {
                                                    display: none;
                                                    -webkit-transition: all 300ms ease;
                                                    -moz-transition: all 300ms ease;
                                                    -o-transition: all 300ms ease;
                                                    transition: all 300ms ease;
                                                    
                                                    ul {
                                    li {
                                        position: relative;
                                        padding: 7px 0;
                                        padding-left:20px;
                                        border-bottom:0;
                                        display: block;
                                        box-shadow: none;
                                        border-left: none;
                                        margin:0;
                                        
                                        i {
                                            position: absolute;
                                            top: 10px;
                                            left: 0;
                                            font-size: 1.2em;
                                            font-weight: 600;
                                            color: $color-title;
                                            width: auto;
                                            height: auto;
                                            line-height: 0.7;
                                            border:0;
                                        }
                                        &:first-child {
                                            padding-top: 0;
                                        }
                                        &:last-child {
                                            padding-bottom: 0;
                                            border-bottom: none;
                                        }
                                    }
                                }
                                                }
                                                &:first-child {
                                                    .acc-title {
                                                        padding-top: 0;
                                                    }
                                                }
                                                &:last-child {
                                                    margin-bottom: 0;
                                                }
                                                &.active {
                                                    .acc-title i {
                                                        transform:rotate(180deg);
                                                    }
                                                    .acc-content {
                                                        display: block;
                                                        
                                                    }
                                                }
                                            }
                                        }
                                        &.walefare{
                                            ul li{
                                                .acc-title{
                                                    border-bottom: 1px solid $color-bg;
                                                    margin-bottom: 15px;
                                                }
                                            }
                                            .process{
                                                        margin: 25px 0;
                                                        h5{
                                                            font-size: 1em;
                                                            font-weight: 600;
                                                            padding-right: 15px;
                                                        }
                                                        .text{
                                                            margin:15px 0;
                                                        }
                                                    }
                                                    .process-note{
                                                        font-weight: 500;
                                                        span{
                                                            margin-right:10px;
                                                        }
                                                    }
                                        }
                                    }
                                .tab-pane {
                                    .content-list {
                                        ul {
                                            li {
                                                position: relative;
                                                padding: 15px 0;
                                                padding-left: 40px;
                                                border-bottom: 1px solid $color-bg;
                                                display: block;
                                                i {
                                                    position: absolute;
                                                    top: 15px;
                                                    left: 0;
                                                    font-size: 1.2em;
                                                    font-weight: 600;
                                                    color: $color-title;
                                                    width: 30px;
                                                    height: 30px;
                                                    line-height: 30px;
                                                    @include radius50;
                                                    text-align: center;
                                                    border: 1px solid $color-bg;
                                                }
                                                &:first-child {
                                                    padding-top: 0;
                                                    i {
                                                        top: 0;
                                                    }
                                                }
                                                &:last-child {
                                                    padding-bottom: 0;
                                                    border-bottom: none;
                                                }
                                            }
                                        }
                                        table.table {
                                            th {
                                                text-transform: uppercase;
                                                border-bottom-color: $color-secondary;
                                                background-color: $color-bg;
                                                vertical-align: middle;
                                            }
                                            td.action-td {
                                                a {
                                                    display: inline-block;
                                                    padding-right: 15px;
                                                    i.fa-eye {
                                                        color: $color-title;
                                                    }
                                                    i.fa-download {
                                                        color: $color-secondary;
                                                    }
                                                    &:last-child {
                                                        padding-right: 0;
                                                    }
                                                }
                                            }
                                        }
                                        .fepb-member {
                                            .member-wrap {
                                                display: -webkit-box;
                                                display: -ms-flexbox;
                                                display: flex;
                                                -ms-flex-wrap: nowrap;
                                                flex-wrap: nowrap;
                                                justify-content: center;
                                                .member-content {
                                                    margin-right: 30px;
                                                    margin-bottom: 15px;
                                                    padding: 10px;
                                                    max-width: 200px;
                                                    width: 100%;
                                                    border: 1px solid $color-bg;
                                                    text-align: center;
                                                    .member-thumb {
                                                        max-width: 120px;
                                                        @include radius50;
                                                        margin: 0 auto;
                                                        overflow: hidden;
                                                        img {
                                                            width: 120px;
                                                            height: 120px;
                                                            @include radius50;
                                                            @include imganimate;
                                                        }
                                                    }
                                                    .content {
                                                        margin-top: 15px;
                                                        h4 {
                                                            font-size: 1em;
                                                            font-weight: 600;
                                                        }
                                                        span {
                                                            font-size: 0.875em;
                                                            color: #555555;
                                                        }
                                                    }
                                                    &.last-child {
                                                        margin-right: 0;
                                                    }
                                                    &:hover {
                                                        img {
                                                            @include imghover;
                                                        }
                                                    }
                                                }
                                            }
                                            @media screen and (max-width: $tab-port) {
                                                .member-wrap {
                                                    -ms-flex-wrap: wrap;
                                                    flex-wrap: wrap;
                                                    justify-content: center;
                                                    .member-content {
                                                        margin-right: 15px;
                                                        padding: 10px;
                                                        max-width: 160px;
                                                        .member-thumb {
                                                            max-width: 80px;
                                                            img {
                                                                width: 80px;
                                                                height: 80px;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            @media screen and (max-width: $mobile-middle) {
                                                .member-wrap {
                                                    .member-content {
                                                        max-width: 130px;
                                                        .content {
                                                            margin-top: 15px;
                                                            h4 {
                                                                font-size: 0.775em;
                                                            }
                                                            span {
                                                                font-size: 0.775em;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            @media screen and (max-width: 360px) {
                                                .member-wrap {
                                                    .member-content {
                                                        max-width: 108px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .app-features {
                                .content-list {
                                    .fnc-img {
                                        min-height: 500px;
                                        display: -webkit-box;
                                        display: -ms-flexbox;
                                        display: flex;
                                        justify-content: center;
                                    }
                                }
                            }
                            .service-list{
                                .service-item{
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    background-color:$color-white;
                                    @include boxshadow;
                                    padding:50px 70px;
                                    text-align: center;
                                    @include animate;
                                    margin-bottom: 30px;
                                    position: relative;
                                    border-bottom:2px solid $color-title;
                                    min-height: 158px;

                                    .service-content h4{
                                        font-size:1.2em;
                                        line-height: 1.5;
                                        text-transform: capitalize;
                                        font-weight: 600;
                                    }
                                    &::after{
                                        content:'';
                                        width:0;
                                        position: absolute;
                                        height:2px;
                                        background-color:$color-secondary;
                                        left:0;
                                        @include animate;
                                        bottom:-2px;
                                    }
                                    .count-icon{
                                        width:50px;
                                        height:50px;
                                        line-height:48px;
                                        @include radius50;
                                        border:4px solid $color-bg;
                                        color:$color-secondary;
                                        font-weight: 700;
                                        @include translatey;
                                        top:40px;
                                        right:15px;
                                        font-size:2em;
                                        @include animate;
                                        
                                    }
                                    &:hover{
                                        transform: translateY(-2%);
                                        -webkit-transform: translateY(-2%);
                                        -ms-transform: translateY(-2%);
                                        -moz-transform: translateY(-2%);
                                        -o-transform: translateY(-2%);
                                        &::after{
                                            width:100%;
                                        }
                                        .count-icon{
                                            color:$color-title;
                                        }
                                    }
                                }
                            }
                            .wlfr-list{
                                .wlfr-item{
                                    background-color:$color-white;
                                    padding:30px;
                                    text-align: center;
                                    @include animate;
                                    margin-bottom: 30px;
                                    position: relative;
                                    border-bottom:2px solid $color-title;
                                    min-height: 158px;
                                    .wlfr-content{
                                        position: relative;
                                        padding-left:60px;
                                            h4{
                                            font-size:1.2em;
                                            line-height: 1.5;
                                            text-transform: capitalize;
                                            font-weight: 600;
                                        }
                                        p{
                                            margin-top:12px;
                                        }
                                        .count-icon{
                                        width:50px;
                                        height:50px;
                                        line-height:48px;
                                        @include radius50;
                                        border:4px solid $color-bg;
                                        color:$color-secondary;
                                        font-weight: 700;
                                        @include translatey;
                                        left:0;
                                        font-size:2em;
                                        @include animate;
                                        
                                    }
                                    }
                                    
                                    &::after{
                                        content:'';
                                        width:0;
                                        position: absolute;
                                        height:2px;
                                        background-color:$color-secondary;
                                        left:0;
                                        @include animate;
                                        bottom:-2px;
                                    }
                                    
                                    &:hover{
                                        transform: translateY(-2%);
                                        -webkit-transform: translateY(-2%);
                                        -ms-transform: translateY(-2%);
                                        -moz-transform: translateY(-2%);
                                        -o-transform: translateY(-2%);
                                        &::after{
                                            width:100%;
                                        }
                                        .count-icon{
                                            color:$color-title;
                                        }
                                    }
                                }
                                @media screen and(max-width:$mobile-large){
                                    .wlfr-item{
                                        min-height: auto;
                                        .wlfr-content{
                                            padding-left:0;
                                            h4{
                                                font-size:1em;
                                            }
                                            .count-icon{
                                            position: initial;
                                            transform: none;
                                            display: inline-block;
                                            margin-bottom: 30px;
                                            
                                        }
                                        }
                                    }
                                        
                                    }
                            }
                        }
                    }
                }
            }
            
            .mobileapp {
                .mobile-content {
                    background: rgba(0, 0, 0, 0) linear-gradient(135deg, #07aee1 0%, #042864 51%, #042864 100%) repeat scroll 0 0;
                    background-color: #042864;
                    .inner-bg {
                        padding: 150px 0 60px 0;
                        .app-content {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            min-height: 500px;
                            color: $color-white;
                            max-width: 500px;
                            .text {
                                h3 {
                                    color: $color-white;
                                    margin-bottom: 25px;
                                }
                            }
                            .gplay-btn {
                                margin-top: 20px;
                                a {
                                    @include radius5;
                                    padding: 10px 20px;
                                    padding-left: 50px;
                                    position: relative;
                                    background-color: $color-primary;
                                    color: $color-white;
                                    display: inline-block;
                                    line-height: 1;
                                    font-size: 0.975em;
                                    span.play-icon {
                                        @include translatey;
                                        left: 15px;
                                    }
                                    .text {
                                        display: inline-block;
                                        span {
                                            display: block;
                                            font-size: 0.775em;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .app-features {
                    margin: 50px 0;
                    .card-body {
                        padding: 50px 15px;
                    }
                }
            }
            
            @media screen and (max-width:$tab-between) {
                .mobileapp {
                    .mobile-content {
                        background: rgba(0, 0, 0, 0) linear-gradient(135deg, #07aee1 0%, #042864 51%, #042864 100%) repeat scroll 0 0;
                        background-color: #042864;
                        .inner-bg {
                            padding: 130px 0 60px 0;
                            .app-content {
                                color: $color-white;
                                margin: 0 auto;
                                min-height: auto;
                                .text {
                                    padding-top: 50px;
                                    h3 {
                                        color: $color-white;
                                        margin-bottom: 25px;
                                    }
                                }
                                .gplay-btn {
                                    margin-top: 20px;
                                    a {
                                        .text {
                                            display: inline-block;
                                            padding-top: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            .app-phone {
                justify-content: center;
            }
            .contact-content{
                ul li{
                    position:relative;
                    padding:5px 0 5px 60px;
                    margin-bottom:10px;
                    i{
                        position:absolute;
                        left:0;
                        top:0;
                        width:34px;
                        height:34px;
                        line-height: 34px;
                        text-align: center;
                        color:$color-secondary;
                        border:1px solid #cccccc;
                        @include radius50;
                    }
                    &:hover{
                        i{
                            background-color:$color-secondary;
                            color:$color-white;
                            border-color:$color-secondary;
                            @include animate;
                        }
                    }
                }
            }
            
            footer.site-footer {
                background-color: $color-primary;
                padding: 60px 0;
                position: relative;
                overflow: hidden;
                .footer-widget {
                    h4 {
                        color: $color-white;
                        font-size: 1.2em;
                        text-transform: uppercase;
                        margin-bottom: 40px;
                        display: inline-block;
                        position: relative;
                        font-weight: 600;
                        &::after {
                            content: "";
                            width: 50px;
                            height: 2px;
                            background-color: $color-white;
                            position: absolute;
                            display: block;
                            left: 0;
                            bottom: -10px;
                        }
                    }
                    .footer-social {
                        a {
                            border: 2px solid rgba(255, 255, 255, 0.7);
                            height: 36px;
                            width: 36px;
                            line-height: 33px;
                            text-align: center;
                            display: inline-block;
                            margin-right: 8px;
                            @include radius50;
                            color: $color-white;
                            &:hover {
                                color: $color-secondary;
                            }
                        }
                    }
                    p {
                        color: $color-white;
                    }
                    .content {
                        address {
                            &:last-child {
                                margin-bottom: 15px;
                                p {
                                    font-size: 0.875em;
                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                        form {
                            .input-group {
                                margin-top: 30px;
                                input {
                                    height: 46px;
                                    &:focus {
                                        outline: none;
                                    }
                                }
                                button {
                                    background-color: $color-secondary;
                                    border-color: $color-secondary;
                                    color: $color-white;
                                    border: 1px solid $color-secondary;
                                    box-shadow: none;
                                    border-radius: 0 5px 5px 0;
                                    padding: 10px 15px;
                                    text-transform: uppercase;
                                    cursor: pointer;
                                    @include animate;
                                    &:hover {
                                        background-color: $color-secondary;
                                        border-color: $color-secondary;
                                    }
                                    &:focus {
                                        outline: none;
                                    }
                                }
                            }
                        }
                        .visited-site{
                            margin-top:15px;
                            ul li span{
                                padding:5px 10px;
                                background-color: $color-title;
                                color:$color-white;
                                @include radius5;
                                margin-left: 15px;
                            }
                        }
                        ul.footer-link {
                            li {
                                padding: 5px 0;
                                a {
                                    position: relative;
                                    -webkit-transition: all 300ms ease;
                                    -ms-transition: all 300ms ease;
                                    -o-transition: all 300ms ease;
                                    -moz-transition: all 300ms ease;
                                    transition: all 300ms ease;
                                    display: block;
                                    color: $color-white;
                                    &::before {
                                        position: absolute;
                                        content: "\f105";
                                        left: 0px;
                                        top: 0px;
                                        opacity: 0;
                                        color: $color-white;
                                        font-family: 'FontAwesome';
                                        -webkit-transition: all 300ms ease;
                                        -ms-transition: all 300ms ease;
                                        -o-transition: all 300ms ease;
                                        -moz-transition: all 300ms ease;
                                        transition: all 300ms ease;
                                    }
                                    &:hover {
                                        padding-left: 15px;
                                        &::before {
                                            opacity: 1;
                                        }
                                    }
                                }
                                &.first-child {
                                    padding-top: 0;
                                }
                                &.last-child {
                                    padding-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
            
            .copyright {
                padding: 15px;
                background-color: $color-title;
                .text {
                    text-align: center;
                    color: $color-white;
                }
            }
            
            @media screen and (max-width: $tab-port) {
                .mrt {
                    margin-top: 30px;
                }
            }